.partie-container{
	width: 100%;
	display: flex;
}

.tabs{
	border: 2px solid #cccccc;
	display: flex;
	flex-direction: column;
	width: 75%;
	&__sidebar{
		display: flex;
		width: 100%;
		background: _palette(bg);
	}
	&__button{
		display: block;
		background: _palette(bg);
		cursor: pointer;
		&:active{
			background: _palette(bg-alt);
		}
		&--active{
			font-weight: bold;
			background: _palette(accent1);
		}
	}
	&__content{
		padding: 15px;
		font-size: 0.8rem;
		display: none;
		background: _palette(accent1);
		&--active{
			display: block;
		}
		> :first-child{
			margin-top: 0;
		}
	}
}

.info-partie{
	display: flex;
	flex-direction: column;
	width: 25%;
	&__heading{
		font-size: 0.8rem;
		border-bottom: 1px solid _palette(bg-alt);
	}
	&__plateaux{
		margin: 10px;
	}
}
