.partie-container{
	width: 100%;
	height: 100vh;
	display: flex;
}

.tabs{
	display: flex;
	flex-direction: column;
	width: 70%;
	&__sidebar{
		display: flex;
		justify-content: space-around;
		width: 100%;
		flex-wrap: wrap;
		background: _palette(bg);
	}
	&__button{
		background: _palette(bg);
		cursor: pointer;
		border-radius: 0;
		border-bottom: 0px blue solid;
		&:active{
			background: _palette(bg-alt);
		}
		&--active{
			font-weight: bold;
			background: _palette(accent1);
		}
	}
	&__content{
		height: 100vh;
		font-size: 0.8rem;
		display: none;
		background: _palette(accent1);
		&--active{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		> :first-child{
			margin-top: 0;
		}
	}
}

.info-partie{
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 100%;
	&__heading{
		font-size: 0.6rem;
		border-bottom: 1px solid _palette(bg-alt);
	}
	&__plateaux{
		font-size: 0.5rem;
	}
}

.option-partie{
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__button{
		margin-bottom: 1rem;
	}
}
